<table class="post-summary">
  <tr>
    <td class="post-summary-image-cell">
      <img src="{{ post.image }}" alt="{{ post.title }}" class="post-summary-image">
    </td>
    <td class="post-summary-content-cell">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      <p>
        <a href="{{ post.url }}">Read more</a>
      </p>
      <p>
        {% for link in post.links %}
          <a href="{{ link.url }}">{{ link.name }}</a><br>
        {% endfor %}
      </p>
    </td>
  </tr>
</table>
