.post-summary {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.post-summary-image-cell,
.post-summary-content-cell {
  display: table-cell;
  width: 50%; /* Each cell takes up 50% of the width */
  vertical-align: middle;
}

.post-summary-image-cell {
  text-align: center;
}

.post-summary-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.post-summary-content-cell {
  padding-left: 20px;
  text-align: left; /* Left-align the content */
}

.post-summary h2 {
  margin: 0 0 10px;
}

.post-summary p {
  margin: 0 0 10px;
}

.post-summary a {
  font-size: 0.7em; /* Reduce font size of the links */
}

.half-size {
  width: 50%;
  height: auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 2px solid #ccc; /* Add border around images */
  padding: 5px; /* Add padding inside the border */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual effect */
}

.upcoming-posts {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px; /* Optional: Adds rounded corners */
  text-align: left; /* Left-align the text */
}

.upcoming-posts h2 {
  margin-top: 0;
}

.upcoming-posts ul {
  list-style-type: none;
  padding: 0;
}

.upcoming-posts li {
  margin-bottom: 5px;
}

.published-posts-heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

p strong.image-title {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
