.post-summary {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.post-summary-image-cell,
.post-summary-content-cell {
  display: table-cell;
  width: 50%; /* Each cell takes up 50% of the width */
  vertical-align: middle;
}

.post-summary-image-cell {
  text-align: center;
}

.post-summary-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.post-summary-content-cell {
  padding-left: 20px;
  text-align: left; /* Left-align the content */
}

.post-summary h2 {
  margin: 0 0 10px;
}

.post-summary p {
  margin: 0 0 10px;
}

.post-summary a {
  font-size: 0.7em; /* Reduce font size of the links */
}
