---
layout: default
title: "Your awesome title"
---
<div class="upcoming-posts">
  <h2>Upcoming Posts</h2>
  <ul>
    <li>1. Nonintuitive analysis: Simpson's Paradox and its cousins-Mix Shift, Base Rate Fallacy, Jevon's Paradox, Ecological Fallacy</li>
    <li>2. Effect Dilution through Funnels</li>
    <li>3. Time Series Data Smoothing: Why Daily Data May Look Different From Weekly Data </li>
    <li>4. The Challenges of Attribution </li>
    <li>5. Seasonality Adjustment Approaches and their Limitations </li>
    <li> And more .. </li>
    <!-- Add more upcoming posts as needed -->
  </ul>
</div>

<h2 class="published-posts-heading">Published Posts</h2>

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      {% include post-summary.html post=post %}
    </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}
</div>
