---
layout: default
title: "Your awesome title"
---
<div class="upcoming-posts">
  <h2>Upcoming Posts</h2>
  <ul>
    <li>1. My synthesis of eCommerce </li>
    <li>2. My synthesis of Monetization </li>
    <li>3. My synthesis of Online Product Discovery</li>
    <li>4. My synthesis of A/B testing </li>
    <li>5. My notes on how MVT differs from A/B testing </li>
    <li>6. Nonintuitive analysis: Simpson's Paradox and its cousins-Mix Shift, Base Rate Fallacy, Jevon's Paradox, Ecological Fallacy</li>
    <li>7. Time Series Data Smoothing: Why Weekly Data May Reveal A Different Story Compared To Daily Data </li>
    <li>8. Effect Dilution through Funnels</li>
    <li>9. The Challenges of Attribution </li>
    <li>10. Seasonality Adjustment Approaches and their Limitations </li>
    <li> And more .. </li>
    <!-- Add more upcoming posts as needed -->
  </ul>
</div>

<h2 class="published-posts-heading">Published Posts</h2>

<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      {% include post-summary.html post=post %}
    </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}
</div>
